@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap&subset=latin,latin-ext');

html,
body,
input,
select,
textarea,
button,
p,
span,
div,
i,
em,
img,
table,
tr,
th,
td,
strong,
a,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
nav,
header,
footer,
section {
  margin: 0;
  border: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: 400;
  border-radius: 0;
  appearance: none;
  font-size: 1.15rem;
  font-style: normal;
  list-style-type: none;
  vertical-align: baseline;
  font-optical-sizing: auto;
  font-variation-settings: 'wdth' 100;
  font-family: 'Rethink Sans', sans-serif;
}

::selection {
  color: #ffffff;
  background: var(--gray);
}

html,
body {
  background-color: var(--light-gray);
}

a {
  text-decoration: none;
}

p {
  line-height: 160%;
}

section {
  padding: 20px 0;
}

strong {
  font-weight: 600;
}

.no-padding-top {
  padding-top: 0;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.padding-top {
  padding-top: 20px;
}

.responsive-hide {
  display: unset;
}

.responsive-show {
  display: none;
}

.cover-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1700px;
}

header {
  margin-bottom: 1px;
  background-color: var(--white);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
}

header .container {
  display: flex;
  padding: 0 10px;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

header .container .logo {
  width: 250px;
  white-space: nowrap;
}

header .container .logo svg {
  width: 100px;
  fill: var(--gray);
}

header .container .logo a {
  display: inline-block;
}

header .container .logo a,
header .container .logo button {
  vertical-align: middle;
}

header .container .logo button {
  padding: 5px;
  display: none;
  cursor: pointer;
  background-color: transparent;
}

header .container .logo button span {
  font-size: 1.8em;
}

header .container .links a {
  margin: 0 15px;
  font-weight: 500;
  display: inline-block;
}

header .container .links a:hover {
  text-decoration: underline;
}

header .container .members {
  width: 250px;
  text-align: right;
  white-space: nowrap;
}

header .container .members a,
header .container .members span {
  margin-right: 10px;
  display: inline-block;
}

header .container .members a {
  text-decoration: underline;
}

header .container .members a:last-child {
  margin-right: 0;
}

header .container .members span {
  font-weight: 600;
}

header .container .members .menu-opener {
  padding: 10px 0;
}

header .container .members .menu-opener span {
  margin-right: 0;
  font-size: 1.3em;
  font-weight: unset;
}

header .container .members button {
  cursor: pointer;
  background-color: transparent;
}

header .container .members button span {
  vertical-align: middle;
}

header .container .dropdown {
  top: 90px;
  right: 15px;
  z-index: 9999;
  min-width: 200px;
  position: absolute;
}

footer {
  padding: 40px 0;
  color: var(--white);
  background-color: var(--blackest-gray);
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .container .logo svg {
  width: 100px;
  fill: var(--white);
}

footer .container .links a {
  display: block;
  margin-bottom: 10px;
}

footer .container .links a:hover {
  text-decoration: underline;
}

footer .container .members a,
footer .container .members span {
  margin-right: 10px;
  display: inline-block;
}

footer .container .members a {
  text-decoration: underline;
}

footer .container .members span {
  font-weight: 600;
}

footer .container .members .button {
  padding: 14px 0;
}

footer .copy {
  margin-top: 50px;
  text-align: center;
}

footer .copy span {
  user-select: none;
  color: var(--dark-gray);
}

footer .newsletter {
  text-align: center;
  margin: 50px auto 20px auto;
}

footer .newsletter .input-container {
  display: flex;
  max-width: 400px;
  overflow: hidden;
  align-items: center;
  border-radius: 30em;
  margin: 40px auto 0 auto;
  justify-content: space-between;
  background-color: var(--white);
}

footer .newsletter .input-container input {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 5px;
  border-radius: 50em;
  background-color: transparent;
}

footer .newsletter .input-container button {
  cursor: pointer;
  border-radius: 50em;
  padding: 15px 20px 10px 15px;
  background-color: transparent;
}

footer .newsletter .input-container button:active {
  background-color: var(--light-gray);
}

footer .terms {
  padding: 10px 0;
  color: var(--dark-gray);
}

footer .terms a {
  font-size: 0.8em;
  color: var(--light-gray);
}

footer .terms a:hover {
  text-decoration: underline;
}

.title h1,
.title h2,
.title h3,
.title h4 {
  margin-bottom: 0;
}

.title .button {
  min-width: unset;
}

.paragraph-container p {
  color: var(--gray);
  margin-bottom: 10px;
}

.paragraph-container a:hover {
  text-decoration: underline;
}

.carousel {
  max-width: 1700px;
  position: relative;
  margin: 20px auto 0 auto;
}

.scroll-container {
  display: flex;
  position: relative;
  align-items: center;
}

.scroll-container .left-arrow {
  left: 0;
  z-index: 9999;
  margin-left: 5px;
  margin-top: -25px;
  position: absolute;
}

.scroll-container .right-arrow {
  right: 0;
  z-index: 9998;
  margin-right: 5px;
  margin-top: -25px;
  position: absolute;
}

.scroll-container .left-arrow button,
.scroll-container .right-arrow button {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 50em;
  transition: all 0.5s;
  background-color: var(--white);
  border: 2px solid var(--dark-gray);
}

.scroll-container .left-arrow button:active,
.scroll-container .right-arrow button:active {
  background-color: var(--light-gray);
  border: 2px solid var(--dark-gray);
}

.scroll-container .left-arrow button span,
.scroll-container .right-arrow button span {
  font-size: 1.75em;
}

.scrollable {
  width: 100%;
  user-select: none;
  overflow-x: hidden;
  white-space: nowrap;
}

.scrollable::-webkit-scrollbar {
  height: 1px;
  background-color: transparent;
}

.scrollable::-webkit-scrollbar-track {
  height: 1px;
  background-color: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  height: 1px;
  background-color: transparent;
}

.scrollable::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}

.box {
  width: 280px;
  height: 300px;
  padding: 10px;
  user-select: none;
  text-align: center;
  vertical-align: top;
  border-radius: 10px;
  white-space: initial;
  display: inline-block;
  box-sizing: border-box;
  margin: 2px 20px 15px 0;
  background-color: var(--white);
  box-shadow:
    0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(17, 24, 39, 0.05);
}

.box:first-child {
  margin-left: 20px;
}

.box-inner {
  height: 300px;
  display: flex;
  padding-top: 40px;
  align-items: center;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
}

.box .box-inner span {
  font-size: 4em;
  margin-bottom: 15px;
}

.box .box-inner p {
  font-size: 0.9em;
}

.button-container {
  padding: 30px 0;
}

.padding-bottom {
  padding-bottom: 20px;
}

.form.shrink {
  max-width: 80%;
  margin: 30px auto;
}

.form-information {
  max-width: 80%;
  margin: 0 auto;
}

.form-information a:hover,
.switch-description a:hover {
  text-decoration: underline;
}

.form .form-elements .form-line {
  margin-bottom: 20px;
}

.form .form-elements .form-line .two-line {
  width: 50%;
  padding: 0 10px;
}

.form .form-elements .form-line .two-line:first-child {
  padding-left: 0;
}

.form .form-elements .form-line .two-line:last-child {
  padding-right: 0;
}

.form .form-elements .form-line .label-line {
  margin-bottom: 15px;
}

.form .form-elements .form-line .label-line label {
  font-weight: 500;
}

.form .form-elements .form-line .label-line a:hover {
  text-decoration: underline;
}

.form .form-buttons {
  margin-top: 25px;
  text-align: right;
}

.upload-picture {
  width: 225px;
  margin: 0 auto;
  position: relative;
}

.upload-picture .cover {
  top: 0;
  left: 0;
}

.input-file {
  z-index: -1;
  width: 0.1px;
  height: 0.1px;
  opacity: 0.1px;
  overflow: hidden;
  position: absolute;
}

.input-file + label {
  opacity: 0;
  width: 226px;
  height: 226px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  position: absolute;
  border-radius: 50em;
  display: inline-block;
}

.input-file + label:hover {
  opacity: 0.65;
}

.input-file + label span {
  font-size: 3em;
  color: #ffffff;
  margin-top: 75px;
  display: inline-block;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.google-button {
  width: 100%;
  display: flex;
  font-size: 1em;
  cursor: pointer;
  color: #444444;
  user-select: none;
  padding: 15px 25px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid #dadada;
  background-color: var(--light-gray);
}

.google-button:active {
  background-color: #eeeeee;
  outline: rgb(77, 144, 254) auto 5px;
}

.google-button svg,
.apple-button svg {
  margin-right: 10px;
}

.or-line {
  height: 10px;
  user-select: none;
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}

.or-line hr {
  top: 0;
  width: 100%;
  z-index: 9998;
  position: absolute;
  border: 1px solid #dadada;
}

.or-line span {
  z-index: 9999;
  padding: 0 15px;
  position: relative;
  border-radius: 40px;
  display: inline-block;
  background-color: #ffffff;
}

.filters .button {
  padding: 10px 20px;
}

.blur-cover {
  width: 100%;
  height: 550px;
  overflow: hidden;
  position: relative;
}

.event-cover {
  width: 100%;
  height: 550px;
  overflow: hidden;
  filter: blur(20px);
  transform: scale(1.2);
}

.cover-info {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  text-align: center;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cover-info .image {
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.cover-info h1,
.cover-info h5,
.cover-info h6 {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.cover-info h1 {
  font-weight: 600;
}

.event-details {
  display: flex;
  justify-content: space-between;
}

.event-details .paragraph-container {
  padding-right: 30px;
}

.ticket-box {
  min-width: 400px;
  user-select: none;
  border-radius: 10px;
  --webkit-user-select: none;
  border: 1px solid var(--light-gray);
  box-shadow:
    0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(17, 24, 39, 0.05);
}

.ticket-box .ticket-box-header {
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--light-gray);
}

.ticket-box .ticket-box-header h4 {
  margin-bottom: 0;
}

.ticket-box .ticket-box-line {
  padding: 15px 10px;
  border-bottom: 1px solid rgba(17, 24, 39, 0.1);
}

.ticket-box .ticket-box-line .icon {
  cursor: help;
  font-size: 0.9em;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  color: var(--dark-gray);
}

.ticket-box .ticket-box-line .icon:hover {
  color: var(--blue);
}

.ticket-box .ticket-box-line span,
.ticket-box .ticket-box-line strong {
  font-size: 0.8em;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.ticket-box .ticket-box-line:last-child {
  border-bottom: none;
}

.ticket-box .ticket-box-buttons {
  padding: 15px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--light-gray);
}

.ticket-box .ticket-box-buttons button {
  width: 100%;
}

.ticket-box .quantity {
  margin-right: 10px;
  display: inline-block;
}

.ticket-box .quantity input,
.ticket-box .quantity button {
  width: unset;
  height: 30px;
  border-radius: 0;
  display: inline-block;
  border: 1px solid var(--blue);
}

.ticket-box .quantity input {
  padding: 0;
  width: 35px;
  font-size: 0.9em;
  text-align: center;
  border: 1px solid var(--light-gray);
}

.ticket-box .quantity button {
  padding: 0;
  width: 30px;
  cursor: pointer;
  color: var(--white);
  background-color: var(--blue);
}

.top-search {
  max-width: 80%;
  overflow: hidden;
  margin: 30px auto;
}

.top-search .search-inputs {
  border-radius: 10px;
  border: 1px solid #dadada;
  background-color: #f9f9f9;
}

.top-search .search-inputs input:hover {
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
}

.top-search .search-inputs input:focus {
  border: none;
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
}

.top-search .search-inputs button {
  cursor: pointer;
  padding: 0 20px;
  border-radius: 10px;
  background-color: transparent;
}

.top-search .search-inputs button:active {
  background-color: var(--light-gray);
}

.top-search .search-inputs button span {
  margin-top: 7px;
  font-size: 1.3em;
}

.circle-buttons {
  margin: 30px 0;
  text-align: center;
}

.circle-button {
  user-select: none;
  color: var(--gray);
  text-align: center;
  display: inline-block;
}

.circle-button .circle {
  width: 100px;
  height: 100px;
  display: flex;
  margin: 0 15px;
  text-align: center;
  align-items: center;
  border-radius: 50em;
  transition: all 0.5s;
  justify-content: center;
  border: 1px solid var(--light-gray);
  box-shadow:
    0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(17, 24, 39, 0.05);
}

.circle-button .circle:hover {
  background-color: var(--light-gray);
}

.circle-button .circle:active {
  background-color: var(--white);
}

.circle-button .circle span {
  font-size: 2.3em;
  color: var(--gray);
}

.circle-button .text {
  font-size: 0.8em;
  margin-top: 15px;
}

.table {
  width: 100%;
  border-spacing: 0;
  border-radius: 10px;
  border: 1px solid #f1f1f1;
}

.table tr {
  border-bottom: 1px solid #f1f1f1;
}

.table th,
td {
  padding: 10px;
}

.table th:first-child {
  border-top-left-radius: 10px;
}

.table th:last-child {
  border-top-right-radius: 10px;
}

.table th {
  font-weight: 600;
  user-select: none;
  color: var(--white);
  background-color: var(--blackest-gray);
}

.table td {
  border-bottom: 1px solid #f1f1f1;
}

.main-menu-backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  position: fixed;
  z-index: 99999999;
  animation: fade-in 0.5s forwards;
  background-color: rgba(0, 0, 0, 0.4);
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.main-menu {
  width: 100%;
  padding: 20px;
  display: fixed;
  background-color: var(--blackest-gray);
}

.main-menu .top {
  text-align: right;
}

.main-menu .top button {
  cursor: pointer;
  padding: 0 0 10px 10px;
  background-color: transparent;
}

.main-menu .top button span {
  font-size: 1.8em;
  color: var(--white);
}

.main-menu .logo svg {
  width: 100px;
  fill: var(--white);
}

.main-menu ul li a {
  font-size: 1.3em;
  margin-bottom: 10px;
  display: inline-block;
}

.list-cards .card {
  margin: 5px 10px 15px 10px;
}

.list-cards .card:first-child {
  margin-left: 5px;
}

.card-title.venue {
  background-color: var(--blackest-gray);
}

.card-title.venue h3 {
  color: var(--white);
}

.ticker {
  padding: 15px 0;
  text-align: center;
  color: var(--white);
  background-color: var(--blackest-gray);
}

.expand-button {
  padding: 15px 20px 5px 20px;
}

.expand-button i {
  width: unset !important;
  height: unset !important;
  font-size: 2em !important;
}

.expand-button:active {
  color: var(--blue);
}

.help-top {
  max-width: 90%;
  margin: 40px auto 30px auto;
}

.help-top div {
  width: 33.33%;
}

.help-top div span {
  margin-right: 5px;
  vertical-align: middle;
}

.help-top a {
  text-decoration: underline;
}

.help-bottom {
  text-align: center;
  margin-bottom: 30px;
}

.help-bottom .links {
  padding-bottom: 30px;
}

.help-bottom .links a {
  display: block;
  margin-bottom: 10px;
}

.help-bottom-box {
  width: 33.33%;
}

.help-bottom-box a:hover {
  text-decoration: underline;
}

.help-left {
  flex: 1;
  padding-top: 5px;
}

.help-left h2 {
  margin-bottom: 20px;
}

.help-left ul li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--light-gray);
}

.help-left ul li a:hover {
  text-decoration: underline;
}

.help-right {
  flex: 3;
  padding: 0 20px;
}

.help-answers h5 {
  margin-bottom: 10px;
  display: inline-block;
}

.help-answers a:hover,
.help-answers h5:hover {
  text-decoration: underline;
}

.help-answers ul {
  margin-bottom: 30px;
}

.help-answers ul li {
  margin-bottom: 10px;
}

.help-answers ul li:last-child {
  margin-bottom: 0;
}

.muted {
  display: block;
  font-size: 0.9em;
  margin-top: 10px;
  user-select: none;
  color: var(--dark-gray);
}

/* Ticket */
.ticket-item {
  width: 70%;
  display: flex;
  padding: 0 20px;
  overflow: hidden;
  user-select: none;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 0 auto 20px auto;
  --webkit-user-select: none;
  background-color: var(--light-gray);
}

.item-right,
.item-left {
  padding: 20px;
}

.item-right {
  width: 25%;
  text-align: center;
  position: relative;
  margin-right: 15px;
}

.item-right h2 {
  margin-bottom: 0;
  line-height: 100%;
}

.item-right span {
  font-size: 5em;
  margin-top: 20px;
}

.item-right strong {
  display: block;
  font-size: 0.9em;
  letter-spacing: 2px;
}

.item-right .up-border,
.item-right .down-border {
  position: absolute;
  padding: 14px 15px;
  border-radius: 50em;
  background-color: var(--white);
}

.item-right .up-border {
  top: -38px;
  right: -35px;
}

.item-right .down-border {
  right: -35px;
  bottom: -13px;
}

.item-left {
  width: 71%;
  padding: 30px 0 20px 70px;
  border-left: 9px dotted var(--white);
}

.item-left h5 {
  line-height: 100%;
  margin-bottom: 20px;
}

.item-left p {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.item-left span {
  margin-top: -4px;
  margin-right: 5px;
  user-select: none;
  vertical-align: middle;
  --webkit-user-select: none;
}

.item-left .actions {
  margin-top: 20px;
  text-align: right;
}

.item-left .actions a {
  width: 50px;
  height: 50px;
  margin: 0 5px;
  overflow: hidden;
  user-select: none;
  text-align: center;
  border-radius: 50em;
  transition: all 0.5s;
  display: inline-block;
  -webkit-user-select: none;
  background-color: var(--blackest-gray);
}

.item-left .actions a:hover {
  background-color: var(--gray);
}

.item-left .actions a:active {
  background-color: var(--dark-gray);
}

.item-left .actions a span {
  font-size: 1.2em;
  margin: 12px 0 0 0;
  color: var(--white);
}

/* Black theme */
.black-theme header {
  box-shadow: none;
  margin-bottom: 0;
  border-bottom: 1px solid #000000;
  background-color: var(--blackest-gray);
}

.black-theme header .container .logo svg {
  fill: var(--white);
}

.black-theme header .container .links a,
.black-theme header .container .members span {
  color: var(--white);
}

.black-theme header .members button {
  color: var(--white);
}

.black-theme header .members .profile-photo {
  border: 1px solid var(--gray);
}

.black-theme .white-background {
  background-color: var(--blackest-gray);
}

.black-theme .gray-background {
  background-color: var(--blackest-gray);
}

.black-theme .gray {
  color: #ffffff;
}

.black-theme .paragraph-container p {
  color: #e6edf3;
}

.black-theme .circle-button .circle {
  background-color: var(--gray);
}

.black-theme .circle-button .circle span {
  color: var(--white);
}

.black-theme .circle-button .circle:hover {
  background-color: var(--gray);
}

.black-theme .circle-button .circle:active {
  background-color: var(--gray);
}

.black-theme .circle-button .text {
  color: var(--white);
}

.black-theme .input-text {
  background-color: var(--white);
  border: 1px solid var(--white);
}

.black-theme .input-text:hover {
  background-color: var(--white);
  border: 1px solid var(--white);
}

.black-theme .input-text:focus {
  background-color: var(--white);
  border: 1px solid var(--white);
}

.black-theme .form .form-elements .form-line .label-line label {
  color: var(--white);
}

.black-theme input,
.black-theme select,
.black-theme textarea {
  color: var(--blackest-gray);
}

.black-theme .top-search .search-inputs {
  background-color: var(--white);
  border: 1px solid var(--white);
}

.black-theme .ticket-box {
  border: 1px solid var(--blackest-gray);
}

.black-theme .ticket-box .ticket-box-header {
  background-color: 1px solid var(--blackest-gray);
}

.black-theme .ticket-box .ticket-box-buttons {
  background-color: 1px solid var(--blackest-gray);
}

@media (max-width: 900px) {
  html,
  body,
  input,
  select,
  textarea,
  button,
  p,
  span,
  div,
  i,
  em,
  img,
  table,
  tr,
  th,
  td,
  strong,
  a,
  ul,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  nav,
  header,
  footer,
  section {
    font-size: 1.05rem;
  }

  .scrollable {
    overflow-x: auto;
  }

  .event-details {
    flex-direction: column-reverse;
  }

  .event-details .paragraph-container {
    padding-right: unset;
  }

  .ticket-box {
    min-width: 100%;
    margin-bottom: 50px;
  }

  .ticket-item {
    width: 100%;
  }

  .item-left .actions a {
    width: 45px;
    height: 45px;
  }

  .scroll-container .left-arrow button,
  .scroll-container .right-arrow button {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 800px) {
  .responsive-hide {
    display: none;
  }

  .responsive-show {
    display: unset;
  }

  header .container .logo button {
    display: inline-block;
  }

  footer .container {
    display: block;
    text-align: center;
  }

  footer .container .links {
    margin: 20px 0;
  }

  footer .container .members {
    margin-top: 40px;
  }

  footer .newsletter {
    width: 90%;
  }

  footer .newsletter .input-container input {
    padding: 0 20px;
    font-size: 1em;
  }

  footer .newsletter .input-container button {
    padding: 15px;
  }

  .top-search,
  .form-information,
  .form.form.shrink {
    max-width: 97%;
  }

  .circle-button .circle {
    width: 80px;
    height: 80px;
  }

  .circle-button .circle span {
    font-size: 2em;
  }

  .form .form-buttons {
    text-align: center;
  }

  .help-top {
    display: none !important;
  }

  .help-bottom {
    display: block !important;
  }

  .help-bottom-box {
    width: 100%;
    margin-bottom: 50px;
  }

  .help-bottom-box:last-child {
    margin-bottom: 0;
  }

  .item-left {
    padding: 30px 0 0 20px;
  }
}

@media (max-width: 600px) {
  .item-right {
    display: none;
  }

  .item-left {
    width: 100%;
    text-align: center;
    padding: 20px 0 20px 0;
  }

  .item-left .actions {
    text-align: center;
  }
}

@media (max-width: 500px) {
  header .container .logo,
  header .container .members {
    width: unset;
  }
}
