:root {
  --red: #f42d53;
  --blue: #0a56ea;
  --gray: #3e4649;
  --black: #333333;
  --green: #4ed34e;
  --white: #ffffff;
  --yellow: #ffca0c;
  --purple: #8852f6;
  --orange: #ff810d;
  --dark-gray: #999999;
  --light-gray: #f5f5f5;
  --blackest-gray: #262626;
}

h1 {
  font-size: 2.2em;
  font-weight: 800;
  margin: 0 0 10px 0;
}

h2 {
  font-size: 1.9em;
  font-weight: 600;
  margin: 0 0 10px 0;
}

h3 {
  font-size: 1.7em;
  font-weight: 600;
  margin: 0 0 10px 0;
}

h4 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 0 10px 0;
}

h5 {
  font-size: 1.3em;
  font-weight: 600;
  margin: 0 0 10px 0;
}

h6 {
  font-size: 1.1em;
  font-weight: 600;
  margin: 0 0 10px 0;
}

input,
select,
textarea {
  padding: 10px;
  overflow: auto;
  color: var(--black);
  border-radius: 10px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

input,
select,
textarea {
  width: 100%;
  resize: none;
  line-height: 160%;
}

select {
  cursor: pointer;
}

.row {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.flex {
  display: flex;
}

.flex-h-center {
  justify-content: center;
}

.flex-v-center {
  align-items: center;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.white {
  color: var(--white);
}

.gray {
  color: var(--gray);
}

.yellow {
  color: var(--yellow);
}

.purple {
  color: var(--purple);
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.white-background {
  background-color: var(--white);
}

.margin-bottom {
  margin-bottom: 20px;
}

/* Buttons */
.button {
  cursor: pointer;
  font-weight: 500;
  user-select: none;
  line-height: 100%;
  text-align: center;
  border-radius: 50em;
  white-space: nowrap;
  background: transparent;
  transition: all 0.2s ease-in-out;
  text-decoration: none !important;
}

button.button {
  padding: 15px 30px;
}

a.button {
  min-width: 130px;
  padding: 14px 15px;
  display: inline-block;
}

.button span {
  font-size: 22px;
  margin-top: -3px;
  transition: all 0.3s;
  vertical-align: middle;
}

.button span.left-icon {
  margin-right: 5px;
}

.button span.right-icon {
  margin-left: 5px;
}

.button:hover span {
  margin-left: 10px;
}

.button.gray-filled {
  color: var(--white);
  background-color: var(--gray);
  border: 2px solid var(--gray);
}

.button.gray-overlay {
  color: var(--gray);
  background-color: var(--white);
  border: 2px solid var(--gray);
}

.button.gray-overlay:hover {
  color: var(--white);
  background-color: var(--gray);
}

.button.yellow-filled {
  color: var(--white);
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
}

.button.yellow-overlay {
  color: var(--yellow);
  background-color: var(--white);
  border: 2px solid var(--yellow);
}

.button.yellow-overlay:hover {
  color: var(--white);
  background-color: var(--yellow);
}

.button.purple-filled {
  color: var(--white);
  background-color: var(--purple);
  border: 2px solid var(--purple);
}

.button.purple-overlay {
  color: var(--purple);
  background-color: var(--white);
  border: 2px solid var(--purple);
}

.button.purple-overlay:hover {
  color: var(--white);
  background-color: var(--purple);
}

.button.red-filled {
  color: var(--white);
  background-color: var(--red);
  border: 2px solid var(--red);
}

.button.red-overlay {
  color: var(--red);
  background-color: var(--white);
  border: 2px solid var(--red);
}

.button.red-overlay:hover {
  color: var(--white);
  background-color: var(--red);
}

.button.orange-filled {
  color: var(--white);
  background-color: var(--orange);
  border: 2px solid var(--orange);
}

.button.orange-overlay {
  color: var(--orange);
  background-color: var(--white);
  border: 2px solid var(--orange);
}

.button.orange-overlay:hover {
  color: var(--white);
  background-color: var(--orange);
}

.button.green-filled {
  color: var(--white);
  background-color: var(--green);
  border: 2px solid var(--green);
}

.button.green-overlay {
  color: var(--green);
  background-color: var(--white);
  border: 2px solid var(--green);
}

.button.green-overlay:hover {
  color: var(--white);
  background-color: var(--green);
}

.button.blue-filled {
  color: var(--white);
  background-color: var(--blue);
  border: 2px solid var(--blue);
}

.button.blue-overlay {
  color: var(--blue);
  background-color: var(--white);
  border: 2px solid var(--blue);
}

.button.blue-overlay:hover {
  color: var(--white);
  background-color: var(--blue);
}

.button.disabled {
  cursor: default;
  pointer-events: none;
  color: var(--dark-gray);
  background-color: var(--light-gray);
  border: 2px solid var(--light-gray);
  text-shadow: 1px 1px 1px var(--white);
}

/* Form elements */
.input-text {
  background-color: #f9f9f9;
  border: 1px solid var(--light-gray);
}

.input-text:hover {
  background-color: #f5f5f5;
  border: 1px solid var(--light-gray);
}

.input-text:focus {
  background-color: #f1f1f1;
  border: 1px solid var(--dark-gray);
}

.select {
  color: var(--black);
  border: 1px solid var(--light-gray);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 99% center;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAgklEQVR4nO2UOwrAIBAF5xKReP+bJFV+TSxynATBQiSI0TXVDggW7htesYKiKIogE7ADRiDLZxzAXPJ4BW7ANcpNyPBZS8nAAJxh4AJshTTNGGsH7R/SFnmztEYuJv0iF5eWyLtJc/Lu0rfddMld4sPJErfs3jTFt9vC6d5UURSFmAePTDtnrV72/QAAAABJRU5ErkJggg==');
}

.select * {
  color: var(--black);
  background-color: var(--light-gray);
}

.select:hover {
  background-color: #f9f9f9;
  border: 1px solid var(--light-gray);
}

.select:focus {
  background-color: var(--light-gray);
  border: 1px solid var(--light-gray);
}

/* Switch */
.switch {
  width: 65px;
  height: 35px;
  position: relative;
  vertical-align: middle;
  margin-bottom: 0 !important;
  display: inline-block !important;
}

.switch input {
  width: 0;
  height: 0;
  opacity: 0;
}

.switch-container {
  display: inline-block;
}

.switch-description {
  font-size: 0.9em;
  margin-left: 7px;
  vertical-align: middle;
}

.switch .slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  background-color: #cccccc;
}

.switch .slider:before {
  left: 4px;
  width: 27px;
  bottom: 4px;
  content: '';
  height: 27px;
  transition: 0.4s;
  position: absolute;
  background-color: #ffffff;
}

.switch input:checked + .slider:before {
  transform: translateX(30px);
}

.switch .slider.round {
  border-radius: 50em;
}

.switch .slider.round:before {
  border-radius: 50%;
}

.switch.gray input:checked + .slider {
  background-color: var(--gray);
}

.switch.yellow input:checked + .slider {
  background-color: var(--yellow);
}

.switch.purple input:checked + .slider {
  background-color: var(--purple);
}

.switch.red input:checked + .slider {
  background-color: var(--red);
}

.switch.orange input:checked + .slider {
  background-color: var(--orange);
}

.switch.green input:checked + .slider {
  background-color: var(--green);
}

.switch.blue input:checked + .slider {
  background-color: var(--blue);
}

/* Radio */
.radio {
  width: 35px;
  height: 35px;
  position: relative;
  vertical-align: middle;
  margin-bottom: 0 !important;
  display: inline-block !important;
}

.radio input {
  width: 0;
  height: 0;
  opacity: 0;
}

.radio-container {
  display: inline-block;
}

.radio-description {
  font-size: 0.9em;
  margin-left: 7px;
  vertical-align: middle;
}

.radio .slider {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  transition: 0.4s;
  position: absolute;
  background-color: #cccccc;
}

.radio .slider:before {
  left: 8px;
  width: 19px;
  bottom: 8px;
  content: '';
  height: 19px;
  transition: 0.4s;
  position: absolute;
  background-color: transparent;
}

.radio .slider.round {
  border-radius: 50em;
}

.radio .slider.round:before {
  border-radius: 50%;
}

.radio.gray input:checked + .slider {
  background-color: var(--gray);
}

.radio.yellow input:checked + .slider {
  background-color: var(--yellow);
}

.radio.purple input:checked + .slider {
  background-color: var(--purple);
}

.radio.red input:checked + .slider {
  background-color: var(--red);
}

.radio.orange input:checked + .slider {
  background-color: var(--orange);
}

.radio.green input:checked + .slider {
  background-color: var(--green);
}

.radio.blue input:checked + .slider {
  background-color: var(--blue);
}

.radio input:checked + .slider:before {
  background-color: #ffffff !important;
}

/* Profile photo */
.profile-photo {
  border-radius: 50em;
  display: inline-block;
  border: 1px solid var(--light-gray);
}

.profile-photo .cover {
  border-radius: 50em;
  display: inline-block;
  background-size: cover;
  vertical-align: middle;
  background-repeat: no-repeat;
}

.profile-photo .cover.big {
  width: 300px;
  height: 300px;
}

.profile-photo .cover.large {
  width: 225px;
  height: 225px;
}

.profile-photo .cover.medium {
  width: 150px;
  height: 150px;
}

.profile-photo .cover.small {
  width: 50px;
  height: 50px;
}

.profile-photo span {
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
}

.profile-photo .avatar {
  display: flex;
  user-select: none;
  color: var(--white);
  border-radius: 50em;
  align-items: center;
  justify-content: center;
}

.profile-photo .avatar.big {
  width: 300px;
  height: 300px;
  font-size: 7em;
}

.profile-photo .avatar.large {
  width: 225px;
  height: 225px;
  font-size: 5em;
}

.profile-photo .avatar.medium {
  width: 150px;
  height: 150px;
  font-size: 3em;
}

.profile-photo .avatar.small {
  width: 50px;
  height: 50px;
  font-size: 1em;
}

.profile-photo .avatar.gray {
  background-color: var(--gray);
}

.profile-photo .avatar.yellow {
  background-color: var(--yellow);
}

.profile-photo .avatar.purple {
  background-color: var(--purple);
}

.profile-photo .avatar.red {
  background-color: var(--red);
}

.profile-photo .avatar.orange {
  background-color: var(--orange);
}

.profile-photo .avatar.green {
  background-color: var(--green);
}

.profile-photo .avatar.blue {
  background-color: var(--blue);
}

/* Tabs */
.tabs {
  padding: 0;
}

.tabs .tab-bar {
  border-bottom: 1px solid #dadada;
}

.tabs .tab-bar .tab {
  margin-right: 5px;
  user-select: none;
  display: inline-block;
  vertical-align: bottom;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tabs .tab-bar .tab a,
.tabs .tab-bar .tab button {
  display: block;
  border-radius: 0;
  padding: 10px 15px;
  color: var(--gray);
  background-color: var(--white);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tabs .tab-bar .tab a.active,
.tabs .tab-bar .tab button.active {
  color: var(--white);
  pointer-events: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.tabs .tab-bar.gray .tab a.active,
.tabs .tab-bar.gray .tab button.active {
  background-color: var(--gray);
}

.tabs .tab-bar.yellow .tab a.active,
.tabs .tab-bar.yellow .tab button.active {
  background-color: var(--yellow);
}

.tabs .tab-bar.purple .tab a.active,
.tabs .tab-bar.purple .tab button.active {
  background-color: var(--purple);
}

.tabs .tab-bar.red .tab a.active,
.tabs .tab-bar.red .tab button.active {
  background-color: var(--red);
}

.tabs .tab-bar.orange .tab a.active,
.tabs .tab-bar.orange .tab button.active {
  background-color: var(--orange);
}

.tabs .tab-bar.green .tab a.active,
.tabs .tab-bar.green .tab button.active {
  background-color: var(--green);
}

.tabs .tab-bar.blue .tab a.active,
.tabs .tab-bar.blue .tab button.active {
  background-color: var(--blue);
}

.tab-content {
  padding: 15px;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

/* Cards */
.card {
  width: 300px;
  text-align: left;
  border-radius: 10px;
  display: inline-block;
  margin: 2px 20px 15px 0;
  background-color: var(--white);
  white-space: initial !important;
  border: 1px solid var(--light-gray);
  box-shadow:
    0 4px 6px -4px rgba(0, 0, 0, 0.1),
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 0 0 1px rgba(17, 24, 39, 0.05);
}

.card:first-child {
  margin-left: 20px;
}

.card-title {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-title h3 {
  margin: 0;
  display: block;
  font-size: 0.9em;
  font-weight: 500;
  color: var(--gray);
  padding: 15px 10px;
}

.card-image {
  width: 100%;
  height: 200px;
  padding: 10px;
  position: relative;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-image .badge {
  font-size: 0.7em;
}

.card-info {
  padding: 10px 15px;
}

.card-info p {
  margin: 5px 0;
  display: block;
  font-size: 0.9em;
  color: var(--gray);
}

.card-info p span {
  margin-top: -4px;
  user-select: none;
  vertical-align: middle;
}

.card-info p.small {
  font-size: 0.7em;
}

.card-buttons {
  text-align: center;
  padding: 10px 0 30px 0;
}

.card-buttons a {
  min-width: 100px;
}

/* Alerts */
.alert {
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  position: fixed;
  z-index: 999999;
  text-align: center;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
}

.alert .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.alert p {
  width: 100%;
  margin: 32px 0;
}

.alert button {
  right: 20px;
  cursor: pointer;
  position: absolute;
  border-radius: 5px;
  padding: 5px 5px 0 5px;
  background-color: transparent;
}

.alert button:hover {
  background-color: var(--blackest-gray);
}

.alert button span {
  font-size: 1.3em;
  color: var(--white);
}

.alert.info {
  color: var(--white);
  background-color: var(--blue);
}

.alert.error {
  color: var(--white);
  background-color: var(--red);
}

.alert.warning {
  color: var(--white);
  background-color: var(--orange);
}

.alert.success {
  color: var(--white);
  background-color: var(--green);
}

.progress {
  width: 100%;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.3);
}

.progress .bar {
  height: 5px;
  background-color: var(--white);
}

/* Badges */
.badge {
  font-size: 0.9em;
  padding: 5px 10px;
  user-select: none;
  border-radius: 5px;
  color: var(--white);
  display: inline-block;
  border: 1px solid var(--white);
}

.badge.gray {
  background-color: var(--gray);
}

.badge.yellow {
  background-color: var(--yellow);
}

.badge.purple {
  background-color: var(--purple);
}

.badge.red {
  background-color: var(--red);
}

.badge.orange {
  background-color: var(--orange);
}

.badge.green {
  background-color: var(--green);
}

.badge.blue {
  background-color: var(--blue);
}

/* Notifications */
.notification {
  width: 27px;
  height: 27px;
  padding-top: 5px;
  font-size: 0.6em;
  overflow: hidden;
  user-select: none;
  text-align: center;
  border-radius: 50em;
  color: var(--white);
  align-items: center;
  display: inline-block;
  justify-content: center;
  border: 1px solid var(--white);
}

.notification.gray {
  background-color: var(--gray);
}

.notification.yellow {
  background-color: var(--yellow);
}

.notification.purple {
  background-color: var(--purple);
}

.notification.red {
  background-color: var(--red);
}

.notification.orange {
  background-color: var(--orange);
}

.notification.green {
  background-color: var(--green);
}

.notification.blue {
  background-color: var(--blue);
}

/* Loaders */
.loader-backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  z-index: 99999999;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.loader {
  padding: 50px 0;
  user-select: none;
  display: inline-block;
  --webkit-user-select: none;
}

.loader.gray {
  fill: var(--gray);
}

.loader.yellow {
  fill: var(--yellow);
}

.loader.purple {
  fill: var(--purple);
}

.loader.red {
  fill: var(--red);
}

.loader.orange {
  fill: var(--orange);
}

.loader.green {
  fill: var(--green);
}

.loader.blue {
  fill: var(--blue);
}

.loader h6 {
  margin-bottom: 20px;
}

/* Dropdowns */
.dropdown {
  opacity: 0;
  overflow: hidden;
  border-radius: 10px;
  display: inline-block;
  animation: fadeIn 0.5s;
  animation-fill-mode: forwards;
  background-color: var(--light-gray);
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.09);
}

.dropdown a,
.dropdown button {
  width: 100%;
  line-height: 1;
  text-align: left;
  border-radius: 0;
  margin: 0 !important;
  display: block !important;
  padding: 13px 20px !important;
}

.dropdown a:hover,
.dropdown button:hover {
  color: var(--white);
}

.dropdown a.active,
.dropdown button.active {
  color: var(--white);
  pointer-events: none;
}

.dropdown a:first-child,
.dropdown button:first-child {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.dropdown a:last-child,
.dropdown button:last-child {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.dropdown hr {
  margin: 0;
  height: 0;
  padding: 0;
  border: 1px solid var(--white);
}

.dropdown.gray a {
  color: var(--gray);
}

.dropdown.yellow a {
  color: var(--yellow);
}

.dropdown.purple a {
  color: var(--purple);
}

.dropdown.red a {
  color: var(--red);
}

.dropdown.orange a {
  color: var(--orange);
}

.dropdown.green a {
  color: var(--green);
}

.dropdown.blue a {
  color: var(--blue);
}

.dropdown.gray a:hover,
.dropdown.gray a.active,
.dropdown.gray button:hover,
.dropdown.gray button.active {
  color: var(--white);
  background-color: var(--gray);
}

.dropdown.yellow a:hover,
.dropdown.yellow a.active,
.dropdown.yellow button:hover,
.dropdown.yellow button.active {
  color: var(--white);
  background-color: var(--yellow);
}

.dropdown.purple a:hover,
.dropdown.purple a.active,
.dropdown.purple button:hover,
.dropdown.purple button.active {
  color: var(--white);
  background-color: var(--purple);
}

.dropdown.red a:hover,
.dropdown.red a.active,
.dropdown.red button:hover,
.dropdown.red button.active {
  color: var(--white);
  background-color: var(--red);
}

.dropdown.orange a:hover,
.dropdown.orange a.active,
.dropdown.orange button:hover,
.dropdown.orange button.active {
  color: var(--white);
  background-color: var(--orange);
}

.dropdown.green a:hover,
.dropdown.green a.active,
.dropdown.green button:hover,
.dropdown.green button.active {
  color: var(--white);
  background-color: var(--green);
}

.dropdown.blue a:hover,
.dropdown.blue a.active,
.dropdown.blue button:hover,
.dropdown.blue button.active {
  color: var(--white);
  background-color: var(--blue);
}

/* Modals */
.modal-backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  position: fixed;
  z-index: 99999999;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
  padding: 20px;
  min-width: 55%;
  max-width: 95%;
  position: absolute;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.dialog .title {
  user-select: none;
  text-align: center;
  padding-bottom: 10px;
}

.dialog .title h4 {
  margin-bottom: 0;
}

.dialog .title button {
  width: 30px;
  height: 30px;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border-radius: 0 !important;
}

.dialog .title button:hover {
  color: var(--white);
  background-color: var(--red);
  border-radius: 4px !important;
}

.dialog .title button i {
  margin-top: 0 !important;
}

.dialog .buttons {
  margin-top: 30px;
  text-align: center;
}

.dialog .buttons button {
  margin: 0 5px;
}

/* Modals */
.modal {
  padding: 20px;
  min-width: 55%;
  max-width: 95%;
  position: absolute;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.modal .title {
  text-align: right;
}

.modal .title button {
  width: 30px;
  height: 30px;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 0 !important;
  border-radius: 0 !important;
}

.modal .title button:hover {
  color: var(--white);
  background-color: var(--red);
  border-radius: 4px !important;
}

.modal .title button i {
  margin-top: 0 !important;
}

/* Pagination */
.paging {
  display: flex;
  font-size: 1.2em;
  user-select: none;
}

.paging ul {
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.paging ul li {
  float: left;
  background-color: var(--white);
  border-right: 1px solid var(--light-gray);
}

.paging ul li:hover {
  background-color: var(--light-gray);
}

.paging ul li:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.paging ul li:last-child {
  border-right: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.paging ul li a,
.paging ul li span {
  margin: 0;
  height: 44px;
  line-height: 1;
  display: block;
  min-width: 44px;
  overflow: hidden;
  text-align: center;
  color: var(--black);
  text-decoration: none;
  padding: 14px 10px 10px 10px;
}

.paging ul li a i,
.paging ul li span i {
  width: 24px;
  height: 24px;
  font-size: 24px;
  line-height: 1;
  margin-top: -4px;
}

.paging ul li a:hover {
  text-decoration: none;
}

.paging ul li.disabled {
  background-color: var(--white);
}

.paging ul li.disabled span {
  cursor: default;
  color: #999999;
}

.paging ul li.active {
  background-color: var(--white);
}

.paging ul li.active a,
.paging ul li.active span {
  cursor: default;
  font-weight: 600;
  color: var(--black);
}

.paging ul li select {
  border-radius: 0;
  color: var(--black);
  text-align: center;
  padding: 7px 10px 7px 10px;
  background-color: var(--white);
}

/* Button group */
.button-group {
  white-space: nowrap;
  border-radius: 10px;
  display: inline-block;
}

.button-group button,
.button-group .button {
  padding: 15px 0;
  border-radius: 0;
  display: inline-block;
}

.button-group button:active,
.button-group .button:active {
  background-color: var(--light-gray);
}

.button-group button:first-child,
.button-group .button:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.button-group button:last-child,
.button-group .button:last-child {
  border-right: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.button-group button.disabled,
.button-group .button.disabled {
  border: 0 !important;
  color: var(--dark-gray) !important;
  border: 1px solid var(--light-gray);
}

.button-group.gray {
  border: 1px solid var(--gray);
}

.button-group.yellow {
  border: 1px solid var(--yellow);
}

.button-group.purple {
  border: 1px solid var(--purple);
}

.button-group.red {
  border: 1px solid var(--red);
}

.button-group.orange {
  border: 1px solid var(--orange);
}

.button-group.green {
  border: 1px solid var(--green);
}

.button-group.blue {
  border: 1px solid var(--blue);
}

.button-group.gray button,
.button-group.gray .button {
  color: var(--gray);
  border-right: 1px solid var(--gray);
}

.button-group.yellow button,
.button-group.yellow .button {
  color: var(--yellow);
  border-right: 1px solid var(--yellow);
}

.button-group.purple button,
.button-group.purple .button {
  color: var(--purple);
  border-right: 1px solid var(--purple);
}

.button-group.red button,
.button-group.red .button {
  color: var(--red);
  border-right: 1px solid var(--red);
}

.button-group.orange button,
.button-group.orange .button {
  color: var(--orange);
  border-right: 1px solid var(--orange);
}

.button-group.green button,
.button-group.green .button {
  color: var(--green);
  border-right: 1px solid var(--green);
}

.button-group.blue button,
.button-group.blue .button {
  color: var(--blue);
  border-right: 1px solid var(--blue);
}

.button-group button.active,
.button-group .button.active {
  pointer-events: none;
}

.button-group.gray button.active,
.button-group.gray .button.active {
  color: var(--white);
  background-color: var(--gray);
}

.button-group.yellow button.active,
.button-group.yellow .button.active {
  background-color: var(--yellow);
}

.button-group.purple button.active,
.button-group.purple .button.active {
  background-color: var(--purple);
}

.button-group.red button.active,
.button-group.red .button.active {
  background-color: var(--red);
}

.button-group.orange button.active,
.button-group.orange .button.active {
  background-color: var(--orange);
}

.button-group.green button.active,
.button-group.green .button.active {
  background-color: var(--green);
}

.button-group.blue button.active,
.button-group.blue .button.active {
  background-color: var(--blue);
}

/* Sliders */
input[type='range'] {
  --g: 8px; /* gap */
  --l: 5px; /* line thickness */
  --s: 30px; /* thumb size */

  width: 100%;
  cursor: pointer;
  height: var(--s);
  overflow: hidden;
  appearance: none;
  background: none;
  border-radius: 50em;
}

input[type='range'].gray {
  --_c: var(--gray);
}

input[type='range'].yellow {
  --_c: var(--yellow);
}

input[type='range'].purple {
  --_c: var(--purple);
}

input[type='range'].red {
  --_c: var(--red);
}

input[type='range'].orange {
  --_c: var(--orange);
}

input[type='range'].green {
  --_c: var(--green);
}

input[type='range'].blue {
  --_c: var(--blue);
}

input[type='range']:focus-visible,
input[type='range']:hover {
  --p: 25%;
}

input[type='range']:active,
input[type='range']:focus-visible {
  --_b: var(--s);
}

input[type='range' i]::-webkit-slider-thumb {
  transition: 0.3s;
  aspect-ratio: 1;
  height: var(--s);
  appearance: none;
  border-radius: 50em;
  box-shadow: 0 0 0 var(--_b, var(--l)) inset var(--_c);
  border-image: linear-gradient(90deg, var(--_c) 50%, var(--light-gray) 0) 0 1 /
    calc(50% - var(--l) / 2) 100vw/0 calc(100vw + var(--g));
}

/* Breadcrumbs */
.breadcrumb {
  display: flex;
  align-items: center;
}

.breadcrumb button {
  padding: 5px;
  color: var(--black);
  text-decoration: none;
}

.breadcrumb button:hover {
  text-decoration: underline;
}

.breadcrumb button.disabled {
  border: none;
  color: var(--dark-gray);
  background: transparent;
}

.breadcrumb i {
  user-select: none;
  margin: 2px 5px 0 5px;
  display: inline-block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
