@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap&family=Material+Icons&display=swap&subset=latin,latin-ext');

html {
  scroll-behavior: smooth;
}

html, body, input, select, textarea, button, p, span, div, i, em, img, table, tr, th, td, strong, a, ul, li, h1, h2, h3, h4, h5, h6, h7, nav, header, footer, section {
  margin: 0;
  border: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: 400;
  border-radius: 0;
  appearance: none;
  font-size: 1.15rem;
  font-style: normal;
  box-sizing: border-box;
  vertical-align: baseline;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-family: "Rethink Sans", sans-serif;;
}

::selection {
  color: #ffffff;
  background: var(--gray);
}

html, body {
  background-color: var(--light-gray);
}

a {
  text-decoration: none;
}

p {
  line-height: 160%;
}

.center {
  text-align: center;
}

.responsive-hide {
  display: unset;
}

.responsive-show {
  display: none;
}

.cover-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1250px;
}

header {
  margin-bottom: 1px;
  background-color: var(--white);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
}

header .container {
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: space-between;
}

header .container .logo svg {
  width: 100px;
  fill: var(--gray);
}

header .container .logo a,
header .container .logo button {
  vertical-align: middle;
}

header .container .logo button {
  margin-left: 5px;
  padding: 5px 5px 5px 5px;
}

header .container .logo button i {
  width: unset !important;
  height: unset !important;
  font-size: 2em !important;
  vertical-align: unset !important;
}

header .container .links a {
  margin: 0 15px;
  font-weight: 500;
  display: inline-block;
}

header .container .links a:hover {
  text-decoration: underline;
}

header .container .members a,
header .container .members span {
  margin-right: 10px;
  display: inline-block;
}

header .container .members a {
  text-decoration: underline;
}

header .container .members span {
  font-weight: 600;
}

footer {
  padding: 40px 0;
  color: var(--white);
  background-color: var(--blackest-gray);
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .container .logo svg {
  width: 100px;
  fill: var(--white);
}

footer .container .links a {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}

footer .container .links a:hover {
  text-decoration: underline;
}

footer .container .members a,
footer .container .members span {
  margin-right: 10px;
  display: inline-block;
}

footer .container .members a {
  text-decoration: underline;
}

footer .container .members span {
  font-weight: 600;
}

footer .copy {
  margin-top: 50px;
  text-align: center;
}

footer .copy span {
  user-select: none;
  color: var(--dark-gray);
}

footer .newsletter {
  text-align: center;
  margin: 50px auto 20px auto;
}

footer .newsletter .input-container {
  display: flex;
  max-width: 400px;
  overflow: hidden;
  align-items: center;
  border-radius: 30em;
  margin: 15px auto 0 auto;
  justify-content: space-between;
  background-color: var(--white);
}

footer .newsletter .input-container input {
  padding-left: 20px;
  padding-right: 5px;
  border-radius: 50em;
  background-color: transparent;
}

footer .newsletter .input-container button {
  padding: 20px;
  border-radius: 50em;
  background-color: transparent;
}

footer .newsletter .input-container button:active {
  background-color: var(--light-gray);
}

footer .terms {
  padding: 10px 0;
  color: var(--dark-gray);
}

footer .terms a {
  font-size: 0.8em;
  color: var(--light-gray);
}

footer .terms a:hover {
  text-decoration: underline;
}

.title h2,
.title h2,
.title h3,
.title h4 {
  margin-bottom: 0;
}

.section {
  padding: 30px 0;
}

.section.white {
  background-color: var(--white);
}

.paragraph-container p {
  color: var(--gray);
  margin-bottom: 15px;
}

.paragraph-container p:last-child {
  margin-bottom: 15px;
}

.carousel {
  width: 100%;
  position: relative;
  padding: 5px 0 0 0;
  margin: 20px 0 10px 0;
}

.scroll-container {
  display: flex;
  position: relative;
  align-items: center;
}

.scroll-container .left-arrow {
  left: 0;
  z-index: 9999;
  margin-top: -20px;
  position: absolute;
}

.scroll-container .right-arrow {
  right: 0;
  z-index: 9998;
  margin-top: -20px;
  position: absolute;
}

.scroll-container .left-arrow button,
.scroll-container .right-arrow button {
  padding: 0;
  border-radius: 50em;
  background-color: var(--white);
  border: 2px solid var(--dark-gray);
}

.scroll-container .left-arrow button:active,
.scroll-container .right-arrow button:active {
  background-color: var(--light-gray);
  border: 2px solid var(--dark-gray);
}

.scroll-container .left-arrow button i,
.scroll-container .right-arrow button i {
  width: unset !important;
  height: unset !important;
  font-size: 1.8em !important;
}

.scrollable {
  width: 100%;
  padding: 0 5px;
  overflow-x: hidden;
  white-space: nowrap;
  padding-bottom: 15px;
}

.scrollable::-webkit-scrollbar {
  height: 5px;
  border-radius: 4px;
}

.scrollable::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #f5f5f5;
}

.scrollable::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #cccccc;
}

.scrollable::-webkit-scrollbar-thumb:window-inactive {
  background: #cccccc;
}

.box {
  width: 300px;
  height: 300px;
  padding: 10px;
  margin: 0 10px;
  user-select: none;
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  background-color: var(--white);
  white-space: initial !important;
  box-shadow: 
      0 4px 6px -4px rgba(0, 0, 0, .1), 
      0 10px 15px -3px rgba(0, 0, 0, .1), 
      0 0 0 1px rgba(17, 24, 39, .05);
}

.box:first-child {
  margin-left: 0;
}

.box:last-child {
  margin-right: 0;
}

.box-inner {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box i {
  font-size: 3em;
  margin-bottom: 15px;
}

.button-container {
  padding: 40px 0;
}

.slider .slide {
  width: 100%;
  height: 550px;
  margin: 0 10px;
  position: relative;
  border-radius: 20px;
  display: inline-block;
}

.slider .slide:first-child {
  margin-left: 0;
}

.slider .slide:last-child {
  margin-right: 0;
}

.slider .slide .info {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(0,0,0,0.4);
}

.slider .slide .info h3 {
  margin-bottom: 0;
}

.padding-bottom {
  padding-bottom: 20px;
}

.form.shrink {
  max-width: 800px;
  margin: 50px auto;
}

.form .form-elements .form-line {
  margin-bottom: 20px;
}

.form .form-elements .form-line .label-line {
  margin-bottom: 15px;
}

.form .form-elements .form-line .label-line label {
  font-weight: 500;
}

.form .form-buttons {
  text-align: right;
}

.google-button {
  width: 100%;
  display: flex;
  font-size: 1em;
  cursor: pointer;
  color: #444444;
  font-weight: 400;
  user-select: none;
  padding: 15px 25px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  border: 1px solid #dadada;
}

.google-button:active {
  background-color: #eeeeee;
  outline: rgb(77, 144, 254) auto 5px;
}

.google-button svg,
.apple-button svg {
  margin-right: 10px;
}

.or-line {
  height: 10px;
  font-weight: 500;
  user-select: none;
  position: relative;
  text-align: center;
  margin-bottom: 25px;
}

.or-line hr {
  top: 0;
  width: 100%;
  z-index: 9998;
  position: absolute;
  border: 1px solid #dadada;
}

.or-line span {
  z-index: 9999;
  padding: 0 15px;
  position: relative;
  border-radius: 40px;
  display: inline-block;
  background-color: #ffffff;
}

.filters .button {
  padding: 15px 20px;
}

.blur-cover {
  width: 100%;
  height: 550px;
  overflow: hidden;
  position: relative;
}

.event-cover {
  width: 100%;
  height: 550px;
  overflow: hidden;
  filter: blur(25px);
  transform: scale(1.1);
}

.cover-info {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  text-align: center;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.cover-info img {
  width: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.cover-info h1,
.cover-info h5,
.cover-info h6 {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.event-details {
  display: flex;
  justify-content: space-between;
}

.event-details .paragraph-container {
  padding-right: 20px;
}

.ticket-box {
  min-width: 400px;
  border-radius: 10px;
  border: 1px solid var(--light-gray);
  box-shadow: 
      0 4px 6px -4px rgba(0, 0, 0, .1), 
      0 10px 15px -3px rgba(0, 0, 0, .1), 
      0 0 0 1px rgba(17, 24, 39, .05);
}

.ticket-box .ticket-box-header {
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--light-gray);
}

.ticket-box .ticket-box-header h5 {
  margin-bottom: 0;
}

.ticket-box .ticket-box-line {
  padding: 15px 10px;
  border-bottom: 1px solid rgba(17, 24, 39, .1);
}

.ticket-box .ticket-box-line i {
  cursor: help;
  margin-left: 5px;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  color: var(--dark-gray);
}

.ticket-box .ticket-box-line i:hover {
  color: var(--blue);
}

.ticket-box .ticket-box-line:hover {
  background-color: #f9f9f9;
}

.ticket-box .ticket-box-line span {
  display: inline-block;
}

.ticket-box .ticket-box-line:last-child {
  border-bottom: none;
}

.ticket-box .ticket-box-buttons {
  padding: 15px 0;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--light-gray);
}

.ticket-box .quantity {
  margin-right: 10px;
  display: inline-block;
}

.ticket-box .quantity input,
.ticket-box .quantity button {
  width: unset;
  height: 30px;
  border-radius: 0;
  display: inline-block;
  border: 1px solid var(--blue);
}

.ticket-box .quantity input {
  padding: 0;
  width: 50px;
  text-align: center;
  border: 1px solid var(--light-gray);
}

.ticket-box .quantity button {
  padding: 0;
  width: 30px;
  color: var(--white);
  background-color: var(--blue);
}

@media (max-width: 900px) {
  html, body, input, select, textarea, button, p, span, div, i, em, img, table, tr, th, td, strong, a, ul, li, h1, h2, h3, h4, h5, h6, h7, nav, header, footer, section {
    font-size: 1.05rem;
  }

  .scrollable {
    overflow-x: auto;
    padding-bottom: 0;
  }

  .event-details {
    flex-direction: column;
  }

  .event-details .paragraph-container {
    padding-right: unset;
  }

  .ticket-box {
    min-width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .responsive-hide {
    display: none;
  }

  .responsive-show {
    display: unset;
  }

  .responsive-center {
    text-align: center;
  }

  footer .container {
    display: block;
    text-align: center;
  }

  footer .links {
    margin: 20px 0;
  }

  footer .members {
    margin-top: 40px;
  }

  footer .newsletter {
    width: 90%;
  }

  footer .newsletter .input-container input {
    padding: 0 20px;
    font-size: 1em;
  }

  footer .newsletter .input-container button {
    padding: 15px;
  }

  .form.shrink {
    max-width: 97%;
  }

  .section {
    padding: 20px;
  }
}